/* Apply.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background: #ff9900;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="file"],
input[type="checkbox"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    width: auto;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.nav-btn {
    text-align: right;
    margin: 20px;
}

.nav-btn a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.nav-btn a:hover {
    color: #0056b3;
}

.menu-toggle {
    display: none;
}

#back-to-dashboard {
    display: none;
    width: auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#back-to-dashboard:hover {
    background-color: #218838;
}
.small-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: #007bff;
    margin: 5px 0;
    border-radius: 3px;
}

.small-button:hover {
    background-color: #ddd;
}
