body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background */
    margin: 0;
    padding: 0;
}

.profile-container {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-details {
    flex: 1;
}

.profile-details p {
    font-size: 1.2em;
    margin: 5px 0;
}

.profile-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

.profile-details ul li {
    font-size: 1.1em;
}
